/* --------------------------------------------------------------------------
                                generic styling                             
-----------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif;
}

html {
  text-align: center;
    height: 100vh;
}

body{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    font-size: 14px;
}

.general-container{
    width: 80%;
    margin: 0px auto;
}

.content{
    display: -webkit-box;
    background-color: #e8ffe4;
}

/* ------------------ title / footer ----------------------*/

h1,footer{
    margin: 20px 0px;
    background-color: #0f5b01;
    color:white;
}

/* --------------------------------------------------------------------------
                                Input data box                             
-----------------------------------------------------------------------------*/
.input-data {
    margin-bottom: 30px;
    border: 1px solid #5dff3f;
    width: 30%;
    padding: 10px;
    height: 80vh;
    background-color: #0a3a00;
    color: white;
}

.input-data label{
    float: left;
}

.input-data input{
    width: 100%;
    margin-bottom: 10px;
}

input{
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button]{
    line-height: 25px;
    color: white;
    background-color: rgb(216, 124, 0);
    border-radius: 15px;
    padding: 5px;
    width: 150px;
    border: 2px solid #ebeb69;
    font-weight: 900;
} 

input[type=button]:hover{
    background-color: rgb(165, 92, 7);  
} 

input[type=text]{
    text-transform:uppercase;
}

/* --------------------------------------------------------------------------
                                Calendar Styles                             
-----------------------------------------------------------------------------*/
.display-calendar{
    width: 70%;
    text-align: -webkit-center;
    text-align: -moz-center;
    height: 80vh;
    overflow-y: scroll;
    overflow:auto;
}

.days-header {
    margin-bottom: 30px;
}

.days-header span {
    border: 1px solid black;
    padding: 5px;
}

.month-container {
    width: 300px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.month-container td {
    border: 1px solid #c7e2c7;
    line-height: 25px;
    min-width: 35px;
}

.month-label {
    background-color: #abe6ab;
    color: black;
}

.month-container .daysofweek .day-label {
    background-color: white;
    font: bold 12px verdana;
    border: none;
    line-height: 25px;
}

.weekdays {    
    color: black;
    background-color: #4cb24c;
    padding: 2px;
}

.weekend {
    background-color: yellow;
}

.holiday {
    background-color: #e28315;
}

.invalid-day {
    background-color: #b4b2b2;
}


/* --------------------------------------------------------------------------
                            Warnings and errors                             
-----------------------------------------------------------------------------*/

.warning-container{
    border: 2px solid yellow;
    padding: 10px;
    display: none;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 10px;
    color: yellow;
}

.warning-container p{
    display: list-item;
    margin-left: 15px;
}