html,body{
    width: 100%;
}

.input-data {
    display: grid;
    margin-bottom: 30px;
    border: 1px solid red;
    width: 30%;
}

.input-data > input {
    width: 100px;
}

.input-data > input:last-child {
    margin-top: 20px;
}


/* days header */

.days-header {
    margin-bottom: 30px;
}

.days-header span {
    border: 1px solid black;
    padding: 5px;
}


/*------------------------------------------------
Calendar Styles
-------------------------------------------------*/

.month-container {
    width: 300px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.month-container td {
    border: 1px solid #c7e2c7;
    line-height: 25px;
    min-width: 35px;
}

.month-label {
    background-color: #c7e2c7;
    font: bold 14px verdana sans-serif;
    color: black;
}

.month-container .daysofweek .day-label {
    background-color: white;
    font: bold 12px verdana;
    border: none;
    line-height: 25px;
}

/*.month-container .daysofweek:first-child{
    
}

.month-container .daysofweek{
    display: none;
}*/

.weekdays {
    font-size: 12px;
    font-family: verdana;
    color: black;
    background-color: #4cb24c;
    padding: 2px;
}

.weekdays #today {
    font-weight: bold;
    color: red;
}

.weekend {
    background-color: yellow;
}

.holiday {
    background-color: #e28315;
}

.invalid-day {
    background-color: #b4b2b2;
}
